@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
    font-family: SF;
    cursor: url("../images/c1.svg") 12 12, auto;
}

@font-face {
    font-family: SF;
    src: url("../fonts/StudioFeixenSans-Regular.83774609.woff2");
    src: url("../fonts/StudioFeixenSans-Book.5d7370a8.woff2");
    src: url("../fonts/StudioFeixenSans-Bold.272f2ecc.woff2");
}

@font-face {
    font-family: SF2;
    src: url("../fonts/studiofeixensansedgytrial-regular-webfont.584d8b9a.woff2");
}

:root {
    --blue: #3cb371;
    --light-blue: #8fdab0;
    --bg-color: rgb(10, 10, 20);
}